<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PROJECT_BASEDIR" value="."/>
    <property name="LOG_DIR" value="${PROJECT_BASEDIR}/logs"/>
    <property name="LOG_PATTERN" value="$d{yyyy:MM:dd HH:mm:ss.SSS} %-5level - [%thread] %logger{36}:%msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="errorDailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.guava.judelaw" level="DEBUG"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="com.ulisesbocchio.jasyptspringboot" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="dailyRollingFileAppender"/>
        <appender-ref ref="errorDailyRollingFileAppender"/>
    </root>
</configuration>